<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="true">
        <form-login login-page='/logForm'/>
        <intercept-url pattern="/user" method="POST" access="permitAll" />
        <intercept-url pattern="/newuser" access="permitAll" />
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <logout logout-url="/logoutp" logout-success-url="/logForm"/>

    </http>
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <jdbc-user-service id="jdbcUserService" data-source-ref="dataSource"
                               users-by-username-query="
                 select login ,password from users where login=?"
                               authorities-by-username-query=
                                       "select login, role from users where login = ?"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
