<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="true">
        <form-login login-page='/logForm'/>
        <intercept-url pattern="/user" method="POST" access="permitAll" />
        <intercept-url pattern="/newuser" access="permitAll" />
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <logout logout-url="/logoutp" logout-success-url="/logForm"/>

    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="{noop}1234" authorities="ROLE_ADMIN" />
                <user name="user" password="{noop}4321" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
